<div class="card">
    <div class="card-header text-center">
        <h5 class="mb-0 text-uppercase">
            {{squadra.nome}}
        </h5>
    </div>
    <div class="card-body">
        <!-- tabella giocatori -->
        <table class="table table-striped table-bordered table-match" width="100%">
            <thead class="thead-light">
                <tr style="border-bottom: 2px solid #BBB">
                    <th class="col1">N°</th>
                    <th class="col2">R</th>
                    <th class="col3">5 I</th>
                    <th class="col4">Nome</th>
                    <th class="col5">Gol</th>
                    <th class="col6">
                        <i class="fas fa-square" style="color: blue"></i>
                    </th>
                    <th class="col7">
                        <i class="fas fa-square" style="color: red"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let giocatore of squadra.giocatori">
                    <td class="col1">{{giocatore.numero}}</td>
                    <td class="col2">
                        <span>{{giocatore.portiere ? "P" : ""}}</span>
                    </td>
                    <td class="col3">
                        <span class="fa fa fa-circle" style="color: #18B; font-size: 0.8em" aria-hidden="true"
                            *ngIf="giocatore.titolare"></span>
                    </td>
                    <td class="col4">{{giocatore.giocatore.nome + " " + giocatore.giocatore.cognome}}</td>
                    <td class="col5">
                        <span *ngIf="giocatore.gol !== 0">
                            {{giocatore.gol}}
                        </span>
                    </td>
                    <td class="col6">
                        <span *ngIf="giocatore.blu !== 0">
                            {{giocatore.blu}}
                        </span>
                    </td>
                    <td class="col7">
                        <span *ngIf="giocatore.rossi !== 0">
                            {{giocatore.rossi}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
        <br />

        <!-- tabella tecnici -->
        <table class="table table-striped table-bordered table-match" width="100%">
            <thead class="thead-light">
                <tr style="border-bottom: 2px solid #BBB">
                    <th colSpan="7">Ruoli tecnici</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let tecnico of squadra.tecnici">
                    <td class="col1"></td>
                    <td class="col2">
                        <span>{{tecnico.ruolo}}</span>
                    </td>
                    <td class="col3"> </td>
                    <td class="col4" colSpan="2">{{tecnico.giocatore.nome + " " + tecnico.giocatore.cognome}}</td>
                    <td class="col6">
                        <span *ngIf="tecnico.blu !== 0">
                            {{tecnico.blu}}
                        </span>
                    </td>
                    <td class="col7">
                        <span *ngIf="tecnico.rossi !== 0">
                            {{tecnico.rossi}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>