.table-match > tbody > tr > td.col1,
.table-match > tbody > tr > td.col2,
.table-match > tbody > tr > td.col3,
.table-match > tbody > tr > td.col5,
.table-match > tbody > tr > td.col6,
.table-match > tbody > tr > td.col7,
.table-match > thead > tr > th.col1,
.table-match > thead > tr > th.col2,
.table-match > thead > tr > th.col3,
.table-match > thead > tr > th.col5,
.table-match > thead > tr > th.col6,
.table-match > thead > tr > th.col7 {
  text-align: center;
  width: 7%;
  min-width: 34px;
}

.table-match-striped {
  border-bottom: 1px solid #ccc;
  margin-bottom: 0;
}

.table-match > tbody > tr,
.table-match > thead > tr {
  padding: 0;
}

.table-match > tbody > tr > td,
.table-match > thead > tr > th {
  padding: 2px 3px;
  vertical-align: middle;
}