<div class="h-100 w-100 border">
    <div class="row h-100">
        <!-- team A -->
        <div class="col-6 pe-3 pt-4 border-end">
            <div class="tl-vert-cont tl-left">
                <ng-template
                    *ngFor="let elem of azioniA"
                    [ngTemplateOutlet]="evento"
                    [ngTemplateOutletContext]="{data: elem}">
                </ng-template>
            </div>
        </div>

        <!-- team B -->
        <div class="col-6 ps-3 pt-4">
            <div class="tl-vert-cont tl-right">
                <ng-template
                    *ngFor="let elem of azioniB"
                    [ngTemplateOutlet]="evento"
                    [ngTemplateOutletContext]="{data: elem}">
                </ng-template>
            </div>
        </div>
    </div>

    <ng-template #evento let-data="data">
        <div [class]="'tl-elem ' + data.padding"  [style]="'bottom: ' + data.posizione">
            <span [class]="data.classe">{{ data.testo }}</span>
        </div>
    </ng-template>
</div>