.action-time {
	font-size: 0.75em;
}

.action-image {
	width: 22px;
	margin-left: 10px;
	margin-right: 10px;
}

.action-text > div > p {
	margin: 0;
	font-weight: 600;
	line-height: 0.95em;
}

.action-text > p {
	margin: 0;
	font-size: 0.9em;
}

.action-badge {
	padding: 3px 6px;
	margin: 0 10px;
}