<div
    class="d-flex align-items-center mb-3"
    *ngFor="let azione of azioni"
    [ngClass]="azione.lato"
>
    <div class="action-time">
        {{ azione.tempo }}
    </div>
    <div>
        <img [src]="azione.icona" class="action-image" />
    </div>
    <div class="action-text" [ngClass]="azione.align">
        <div class="d-flex align-items-center" [ngClass]="azione.lato">
            <p>{{ azione.titolo }}</p>
            <span class="badge bg-success action-badge" *ngIf="azione['badge'] !== undefined">
                {{azione['badge']}}
            </span>
        </div>
        <p class="text-muted">{{ azione.giocatore }}</p>
    </div>
</div>