.squadra-name {
    font-family: "Sora", sans-serif;
    line-height: 0.8em;
    color: black;
}

.title-badge {
    display: inline-block;
    margin: 0 auto;
    font-family: "Sora", sans-serif;
    padding: 0.25em 0.75em;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}

.sora {
    font-family: "Sora", sans-serif;
}

.squadra-logo {
    width: 65%;
    max-width: 120px;
    height: auto;
}