<div class="container-fluid p-0 mt-2">
    <div class="row">
        <div class="col col-12 col-lg-9">
            <div class="row">
                <div class="col col-12 col-xl-4 col-lg-5 col-md-12 order-2 order-lg-1">
                    <partita-luogoarbitri [partita]="partita"></partita-luogoarbitri>
                </div>
                <div class="col col-12 col-xl-8 col-lg-7 col-md-12 order-1 order-lg-2">
                    <partita-scoreboard [partita]="partita"></partita-scoreboard>
                </div>
            </div>

            <!--<div class="row col">
                <div class="card card-body"></div>
            </div>
            {(this.state.partita.rigori) ?
                <div class="row"><Rigori {...this.state.partita} /></div> :
                <></>}-->
            <div class="row d-none d-md-flex">
                <div class="card card-body"></div>
                <!--<TimelineOrizz {...this.state.partita} />-->
            </div>
            <div class="row">
                <div class="col col-12 col-md-6">
                    <partita-squadra [squadra]="partita.squadra1"></partita-squadra>
                </div>
                <div class="col col-12 col-md-6">
                    <partita-squadra [squadra]="partita.squadra2"></partita-squadra>
                </div>
            </div>
        </div>
        <div class="col col-12 col-lg-3">
            <div class="row justify-content-md-center">
                <div class="col col-12 col-sm-6 col-lg-12 order-2 order-md-1 ">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="mb-0">Area stampa</h5>
                            Video:
                            <div class="alert alert-danger">
                                YT: highlights
                            </div>
                            <div class="alert alert-secondary">
                                YT: partita completa
                            </div>
                            <hr/>
                            Blog:
                            <div class="alert alert-warning">
                                Montecchio sbanca a Forte
                            </div>
                            <div class="alert alert-info">
                                Lo Guercio torna a Montecchio
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-sm-6 col-lg-12 order-2 order-md-1 ">
                    <partita-azioni [partita]="partita"></partita-azioni>
                </div>
                <div class="col col-12 col-sm-6 col-lg-12 order-1 order-md-2 d-md-none">
                    <!--<TimelineVert {...this.state.partita} />-->
                </div>
            </div>
        </div>
    </div>
</div>

<pre>
    {{ partita | json }}
</pre>