<app-navbar-partita
    [nome]="partita.titolo"
    [(currentTab)]="currentTab"
></app-navbar-partita>

<app-loading *ngIf="loading"></app-loading>

<!-- desktop -->
<div class="container-fluid d-none d-md-block p-3" *ngIf="!loading">

</div>

<!-- mobile -->
<div class="container-fluid d-block d-md-none pt-3" *ngIf="!loading">
    <div *ngIf="currentTab == 0">
        <partita-scoreboard
            [partita]="partita"
        ></partita-scoreboard>
    </div>

    <div *ngIf="currentTab == 1">
        <partita-squadre-card
            [partita]="partita"
        ></partita-squadre-card>
    </div>

    <div *ngIf="currentTab == 2">
        <partita-azioni-card
            [partita]="partita"
        ></partita-azioni-card>
    </div>

    <div *ngIf="currentTab == 3">
        
    </div>
</div>